@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}
.rounded-custom {
  border-radius: 0 3rem;
}
.custom-box-shadow {
  box-shadow: inset 5px 0px 16px -7px #000, inset -5px 0 11px -5px #000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
